/*

====================== MEMO ==========================

custom yellow : f1c965
custom violet : 69509c

brush font : 'Gloss And Bloom', sans-serif
normal font : 'Raleway', sans-serif

*/



/*  

============================   IMPORTS   ============================

*/
@font-face {
    font-family: 'Gloss And Bloom';
    src: url('/font/Gloss_And_Bloom.ttf')  format('truetype');
}

$breakpoints: (
    "small": 300px,
    "medium": 960px,
    "large": 1280px,
);
@mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        @content;
    }
}

$radius: 50px;

@mixin radius{ border-radius: $radius; }
@mixin radius-right{ border-radius: 0 $radius $radius 0; }
@mixin radius-left{ border-radius: $radius 0 0 $radius; }
@mixin radius-top{ border-radius: $radius $radius 0 0; }
@mixin radius-bottom{ border-radius: $radius 0 $radius 0;}

@mixin box-shadow-high{ box-shadow: 0px 20px 40px 2px rgba(0,0,0,0.4); }
@mixin textshadow{text-shadow: 0px 1px 1px rgba(0,0,0,0.5);}

@mixin bef-config{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
@mixin brushfont{ font-family: 'Gloss And Bloom', sans-serif; }
@mixin josefinfont{ font-family: 'Josefin Sans', sans-serif; }
@mixin gradientYellow{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(249,151,63,1) 0%, rgba(249,210,45,1) 90% );
    background-size: 110%; 
    background-position-x: 5%;
}
@mixin gradientYellowLinear{
    background: linear-gradient(45deg,rgba(249,210,45,1) 0%, rgba(249,151,63,1) 100%, rgba(249,210,45,1) 200% );
    background-size: 200%; 
    background-position-x: 0%;
    @include transition1;
}

@mixin gradientViolet{
    background: linear-gradient(30deg, #6A47A8, #101833);
    background-size: cover; 
}
@mixin gradientGreen{
    background: linear-gradient(30deg, #2AF598, #00DE79);
    background-size: cover; 
}

@mixin fontSize1{
    font-size: 1rem;
    line-height: 1rem;
}
@mixin fontSize1{
    @include media-min("small") {
        font-size: 0.8rem;
        line-height: 1rem;
    }
    @include media-min("medium") {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    @include media-min("large") {
        font-size: 1rem;
        line-height: 1rem;
    }
}
@mixin fontSize2{
    @include media-min("small") {
        font-size: 0.8rem;
        line-height: 1rem;
    }
    @include media-min("medium") {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    @include media-min("large") {
        font-size: 1.4rem;
        line-height: 2rem;
    }
}
@mixin fontSize3{
    @include media-min("small") {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    @include media-min("medium") {
        font-size: 2.5rem;
        line-height: 2.8rem;
    }
    @include media-min("large") {
        font-size: 3rem;
        line-height: 3rem;
    }
}
@mixin fontSize4{
    @include media-min("small") {
        font-size: 2.1rem;
        line-height: 2.3rem;
    }
    @include media-min("medium") {
        font-size: 3rem;
        line-height: 3.5rem;
    }
    @include media-min("large") {
        font-size: 5rem;
        line-height: 4.5rem;
    }
}
@mixin fontSizeCustom($_size){
    font-size: $_size;
    line-height: $_size;
}
@mixin fontColorWhite{color: #ffffff;}
@mixin fontColorYellow{color: #f1c965;}
@mixin fontColorViolet{color: #69509c;}
@mixin fontColorGreen{color: #00DE79;}
@mixin transition1{ transition: 0.15s ease-out; }



.presentation{
    position: relative;
    text-align: center;
    @include fontSize4;
    @include josefinfont;
}
.simpleText{
    @include fontSize2;
}

.greaText{
    //font-weight: 700;
    @include josefinfont;
    @include fontSize3;
    @include fontColorViolet;
    @include textshadow;

}

@keyframes specialWord{
    0%{background-position-x: 0%;}
    100%{background-position-x: 200%;}
}

.poste{
    span{
        letter-spacing: -1px;
        position: relative;
        display: block;
        @include fontSize3;
        @include textshadow;
        @include josefinfont;
        @include fontColorViolet;
        /*background: linear-gradient(90deg, #00DE79, #69509c, #00DE79);
        background-size: 200%;
        animation-name: specialWord;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;*/

    }
}