/*

====================== MEMO ==========================

custom yellow : f1c965
custom violet : 69509c

brush font : 'Gloss And Bloom', sans-serif
normal font : 'Raleway', sans-serif

*/



/*  

============================   IMPORTS   ============================

*/
@font-face {
    font-family: 'Gloss And Bloom';
    src: url('/font/Gloss_And_Bloom.ttf')  format('truetype');
}

$breakpoints: (
    "small": 300px,
    "medium": 960px,
    "large": 1280px,
);
@mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        @content;
    }
}

$radius: 50px;

@mixin radius{ border-radius: $radius; }
@mixin radius-right{ border-radius: 0 $radius $radius 0; }
@mixin radius-left{ border-radius: $radius 0 0 $radius; }
@mixin radius-top{ border-radius: $radius $radius 0 0; }
@mixin radius-bottom{ border-radius: $radius 0 $radius 0;}

@mixin box-shadow-high{ box-shadow: 0px 20px 40px 2px rgba(0,0,0,0.4); }
@mixin textshadow{text-shadow: 0px 1px 1px rgba(0,0,0,0.5);}

@mixin bef-config{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
@mixin brushfont{ font-family: 'Gloss And Bloom', sans-serif; }
@mixin josefinfont{ font-family: 'Josefin Sans', sans-serif; }
@mixin gradientYellow{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(249,151,63,1) 0%, rgba(249,210,45,1) 90% );
    background-size: 110%; 
    background-position-x: 5%;
}
@mixin gradientYellowLinear{
    background: linear-gradient(45deg,rgba(249,210,45,1) 0%, rgba(249,151,63,1) 100%, rgba(249,210,45,1) 200% );
    background-size: 200%; 
    background-position-x: 0%;
    @include transition1;
}

@mixin gradientViolet{
    background: linear-gradient(30deg, #6A47A8, #101833);
    background-size: cover; 
}

@mixin fontSize1{
    font-size: 1rem;
    line-height: 1rem;
}
@mixin fontSize1{
    @include media-min("small") {
        font-size: 0.8rem;
        line-height: 1rem;
    }
    @include media-min("medium") {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    @include media-min("large") {
        font-size: 1rem;
        line-height: 1rem;
    }
}
@mixin fontSize2{
    @include media-min("small") {
        font-size: 0.8rem;
        line-height: 1rem;
    }
    @include media-min("medium") {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    @include media-min("large") {
        font-size: 2rem;
        line-height: 2rem;
    }
}
@mixin fontSize3{
    @include media-min("small") {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    @include media-min("medium") {
        font-size: 2.5rem;
        line-height: 2.8rem;
    }
    @include media-min("large") {
        font-size: 3rem;
        line-height: 3rem;
    }
}
@mixin fontSize4{
    @include media-min("small") {
        font-size: 2.1rem;
        line-height: 2.3rem;
    }
    @include media-min("medium") {
        font-size: 3rem;
        line-height: 3.5rem;
    }
    @include media-min("large") {
        font-size: 5rem;
        line-height: 4.5rem;
    }
}
@mixin fontSizeCustom($_size){
    font-size: $_size;
    line-height: $_size;
}
@mixin fontColorWhite{color: #ffffff;}
@mixin fontColorYellow{color: #f1c965;}
@mixin transition1{ transition: 0.15s ease-out; }
/*  

============================   INITIALIZE   ============================

*/
#logoTop{
    #logo{
        
        transform-origin: 50% 50%;
        .logo1{
            stroke: #f1c965;
            stroke-width: 3px;
            height :100%;
        }
        .logo2{
            position: absolute;
            top: 0;
            left: 0;
            height :100%;
        }
    }
    .back-logo{
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9998;
        transform-origin: 50% 50% !important;
        @include media-min("small") {
            height: 100vh;
            width: 100vh;
        }
        @include media-min("medium") {
            height: 100vw;
            width: 100vw;
        }
        .bckg-color-back{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: #141414;
        }
        .bckg-color{
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            border-radius: 5000px;
            @include media-min("small") {
                top: -25vh;
            }
            @include media-min("medium") {
                top: -50vh;
            }
            &:nth-child(2){
                background: #6A47A8;
            }
            &:nth-child(3){
                background: #2AF598;
            }
            &:nth-child(4){
                background: #141414;
            }
        }
    }
}

.pixelCibler{
    position: fixed;
    top: 0px;
    right: 0px;
    background: #ffffff;
    padding: 3px;
    border: solid 4px #2AF598;
    border-radius : 5px;
    font-size: 14px;
    line-height: 18px;

}

#root{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.button-group .button:first-child{
    @include radius-left;
    border-left: none;
}
.button-group .button:last-child{
    @include radius-right;
}
.pins, .button{
    @include gradientYellowLinear;
    border: none;
    color: rgb(104, 70, 166);
}

.pins{
    @include radius;
    @include media-min("small") {
        display: inline-block;
    }
}


.button{
    border-left: solid rgb(104, 70, 166) 1px;
}
.clink{
    font-weight: 700;
    color: #2AF598;;
    @include gradientViolet;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        width: 0%;
        height: 3px;
        bottom: -2px;
        @include gradientViolet;
        transition: 0.3s;
        right : 0;
        left: auto;
    }
    &:hover:before{
        transition: 0.3s;
        width : 100%;
        right: auto;
        left: 0;
    }
}

#nice-scroll {
	height: 50px;
	width: 5px;
	border-radius: 5px;
	background: red;
	position: absolute; /* important */
	right: 0px;
}
.letter{
    position: relative;
    display: inline-block;
}
.letter.mr-1{display: inline;}

.img{width: 100%;}








h1{margin:0;}

.radius{ @include radius;}

.brushfont{ font-family: 'Gloss And Bloom', sans-serif; }
.secNormalFont{ font-family: 'Josefin Sans', sans-serif; }


.fs_1{@include fontSize1;}
.fs_2{@include fontSize2;}
.fs_3{@include fontSize3;}
.fs_4{@include fontSize4;}
.fs_c{@include fontSizeCustom(11rem);}

.fc_w{@include fontColorWhite}
.fc_y{@include fontColorYellow}

.gradientDark{ @include gradientViolet}
.gradientLight{@include gradientYellow}
.gradientLightLinear{@include gradientYellowLinear}
.gradientLightLinear:hover{background-position-x: 100%; @include transition1;}

.shadow1 { box-shadow: 0px 12px 40px 2px rgba(0, 0, 0, 0.35) }
.shadow2 { box-shadow: 0 12px 20px -8px rgba(0, 0, 0, 0.6); }
.drop-shdw {filter: drop-shadow(0px 0px 18px rgba(0,0,0,0.5)); }
.textshadow{ text-shadow:1px ;}

.mt-neg-50{margin-top: -50px;}
.mt-neg-100{margin-top: -100px;}


html{
    background: #101833;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    a {
        text-decoration: none !important;
    }
    body{
        background: #101833;
        font-family: 'Raleway', sans-serif;
        
        @include media-min("small"){
            font-size: 13px;
        }
        @include media-min("medium"){
            font-size: 18px;
        }
        @include media-min("large"){
        }
    }
    #ovfxh{
        overflow-x: hidden;
	    
        @include radius-top;
        @include gradientYellow;
        @include media-min("small"){
            width: 100vw; 
            height: 90vh;
            overflow-y: hidden;
        }
        @include media-min("medium"){
            overflow-y: hidden;
            width: 100vw; 
            height: 84vh;
        }
    }
    #page {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        @include media-min("small"){
            width: calc(100% + 17px);
        }
        @include media-min("medium"){
            width: calc(100% + 17px);
        }
        @include media-min("large"){

        }
    }
}

.catch-top-app{
    position: relative;
    
    @include media-min("small"){
        height: 6vh;
        margin-bottom: 2vh;
        margin-top: 2vh;
    }
    @include media-min("medium"){
        height: 10vh;
        margin-bottom: 3vh;
        margin-top: 3vh;
    }
    @include media-min("large"){
        height: 10vh;
        margin-bottom: 3vh;
        margin-top: 3vh;
    }
    .catch{
        font-family: 'Josefin Sans', sans-serif;
        @include fontSize2;
        color: #ffffff;
       
    }
    .name{
        padding-top: 15px;
        font-family: 'Gloss And Bloom', sans-serif;
        @include fontSize3;
        color: #f1c965;
        @include media-min("small"){
            padding-top: 6px;
        }
        @include media-min("medium"){

        }
        @include media-min("large"){

        }
    }
    .letter{
        position: relative;
        display: inline-block;
    }
    .letter.mr-1{display: inline;}
}

// ===============   HOME

.first-presentation{
    text-align: center;
    .name{
        position:relative;
        z-index: 99;
        @include josefinfont;
        @include fontSize2;
    }
    .dev{
        position:relative;
        z-index: 99;
        @include josefinfont;
        @include fontSize3;
    }
    .crea{
        @include brushfont;
        z-index: 0;
        position: absolute;
        width: 100%;
        
        color: #f7cb59;
        @include media-min("small"){
            top: calc(50% - 2rem);
            left: 0px;
            @include fontSizeCustom(5rem);
        }
        @include media-min("medium"){

        }
        @include media-min("large"){
            top: calc(50% - 7rem);
            @include fontSizeCustom(15rem);
        }
        .coat {
            position: absolute;
            left: 0;
            width: 100%;
        }
        .coat:nth-child(1){
            color: #2AF598;
        }
        .coat:nth-child(2){
            color: #8A6AC2;
        }
    }
}

// ===============   PRODUCTION
